* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
   align-items: center;

 
    
}


.nav-logo {
    height: 50px;
    width: 100px;
    margin-left: 50px;

}

.logo {
    background-image: url(amazon3.jpg) ;
    background-size: cover;
    height: 50px;
    width: 100px;
    display: flex;
    margin-right: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white
}

/**box2**/
.add-first{
    color:#cccc;
    font-size: 0.5rem;
    margin-left: 15px }

.add-second{font-size:1rem;
    margin-left: 3px;

}
.add-icon{
    display:flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    
}
.nav-search:hover{
    border: 2px solid orange
;}
.search-select{
    background-color: gainsboro;
   width:100px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none ;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    

  
}

.search-icon{
    width: 45px;
    display: flex; 
    justify-content:center ;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-radius: 2.5px;
    color: #0f1111;
}



    
/**box4**/
span{
    font-size: 0.7rem;
    justify-content: space-evenly;
    margin-left: 50px;


}
.nav-second{
    font-size:0.95rem;
    justify-content: space-evenly;
    margin-left: 50px;
}
.nav-signin:hover{
    border: 2px solid white;
    margin-left: 25px;
}

/**box5**/
.nav-cart{
    font-size: 30px;
    display: flex;
    margin-left: 50px;
}
.nav-third{
    font-size: 15px;
    padding-top: 10px;
   font-style: bold;
}
.nav-cart:hover{
    border: 2px solid white}
/**panel**/
.panel{ 
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-ops p {
    display: inline;
   margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
/**hero-section**/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 250px;
}
/**shop**/
.shob-section {
    display: flex;
  flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
   

}
.box{
 
    height: 350px;
    width: 20%;
   
    background-color: white;

    padding: 20px 0px 15px;
    margin-top: 15px;
   


}

.box-image {
    height: 240px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    margin-top: 1rem;
   margin-bottom: 10px;
    background-size: cover;
}
.box-content {

    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
  
}
.box-content a {
    color: #007185;
    text-decoration: none;
}
/**footer**/

.foot-panel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.foot-panel a { color: #e2e7e6;
    text-decoration: none;}
.logo{
    background-image: url('amazon.png');
    height: 30px;
    width: 90px;
    margin-top: 13px;
}
.copyright{
    background-color: #0f1111;
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
}